<form [formGroup]="formLogin" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="nicknameInput" class="form-label">Email address</label>
      <input type="text" class="form-control" id="nickname" formControlName="nickname">
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  <div class="row">
    <div class="col-12">
      <b style="color:red">{{errore}}</b>
    </div>
  </div>
